/*Ajuster Gerais*/
* {
  box-sizing: border-box;
  transition-duration: 1.5s;
}


/*Ajuster para o App*/
.App {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

/*Ajuster para o Jogo*/
.img_status {
    position: fixed;
    top: 60px;
    left: 7.5%;
    height: 300px;
}
.Adivinhando {
    position: fixed;
    top: 300px;
    right: 7.5%;

    width: 323px;
    height: 68px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 15px;
}
.pickword {
    position: fixed;
    top: 90px;
    right: 7.5%;
    
    width: 200px;
    height: 60px;
    border-radius: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    cursor: pointer;
}
/*Ajustes para Letras.js*/
.letras {
    width: 665px;
    height: 92px;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    
}
.letra {
    width: 40px;
    height: 40px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #39739D;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;

    cursor: pointer;
    transition: 1s;
}
.letra:disabled {
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}
.bottom {
    position: fixed;
    top: 400px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escondido {
    display: hidden;
}

.win {
    color: green;
}
.lose {
    color: red;
}
#word {
    transition-duration: 0s;
}

@media (max-width: 700px) {
	.img_status {
        position: unset;
        width: 80%;
    }
    .Adivinhando {
        position: unset;
        width: 80%;
        text-align: center;
    }
    .pickword {
        position: unset;
        width: 80%;
        margin-top: 20px;
    }
    .bottom {
        position: unset;
        width: 100%;
        padding: 20px;
    }
}